
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');;


@font-face {
  font-family: 'Officina Bold';
  src: url('/public/fonts/OfficinaSansBold.woff');
}

@font-face {
  font-family: 'Officina';
  src: url('/public/fonts/OfficinaSansBook.woff');
}
@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/Gilroy-Regular.woff'), 
  url(/public/fonts/Gilroy-Bold.woff);
}
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


