.link{
    background-color: #ffe600;
    /* color: ; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Officina';
    outline: none;
    cursor: pointer;

    position: relative;
    z-index: 100;
}