.main{
    position: relative;
    flex: 1 0 auto;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    @media screen and (max-width: 1400px) {
        width: 90%;
    }
}

form{
    & > button, & > input{
        margin: 5px 0;
        width: 100%;
        font-family: 'Officina';
    }
}
.menu{
    margin-bottom: 10px;
    width: 100%;
    gap: 5px;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        background-color: #ffdc5e;
        font-family: 'Officina';
        font-size: 20px;
        height: 200px;
    }
}
.auth{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px 20px;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0px 1px 5px rgb(196, 196, 196);
    
    div{
        // display: flex !important;
        // align-items: center !important;
        div{
            margin-right: 5px;
            padding: 0;
            height: 100%;
            font-family: 'Officina';
            width: fit-content;
            // border: 1px solid #000;
            button{
                background-color: #FFCF23;
                padding: 3px 5px;

                border-radius: 10px;
            }
        }

        
    }
    button{
        background-color: #FFCF23;
    }
}
.funcGrid{
    
}